body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary-700;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: $main;

  &::before {
    content: "";
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($black, 0.5);
    transition: visibility 0.3s, opacity 0.3s;
  }

  @include wmax($sm) {
    font-size: 16px;
  }

  @include wmax($lg, l) {
    font-size: 16px;
  }

  &.fixed {
    overflow: hidden;
  }

  &.bg-overlay {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main {
  flex-grow: 1;
  padding-top: 158px;

  @include wmax($lg) {
    padding-top: 114px;
  }

  @include wmax($md) {
    padding-top: 92px;
  }

  @include wmax($sm) {
    padding-top: 72px;
  }

  @include wmax($lg, l) {
    padding-top: 58px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include wmax($xl) {
      background-color: rgba($secondary-700, 0.85)
    }
  }
}

.section {
  margin-bottom: 120px;

  @include wmax($xl) {
    margin-bottom: 80px;
  }

  @include wmax($lg) {
    margin-bottom: 60px;
  }

  @include wmax($md) {
    margin-bottom: 40px;
  }
}