.title {
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 500;
  text-wrap: balance;
  color: $auxillary;

  @include wmax($lg) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @include wmax($sm) {
    font-size: 24px;
  }

  @include wmax($lg, l) {
    font-size: 24px;
  }
}

.description-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $auxillary;

  @include wmax($lg, l) {
    font-size: 20px;
  }

  @include wmax($sm) {
    font-size: 20px;
  }
}