$main: #31352B;
$auxillary: #363853;

$white: #ffffff;
$black: #000000;

$accent-900: #ff6838;
$accent-800: #ff7a50;
$accent-750: #ffae94;
$accent-700: #fff2ed;

$secondary-900: #c2c2c2;
$secondary-800: #ececec;
$secondary-700: #f9faff;