// COLORS
$main: #31352B;
$auxillary: #363853;

$white: #ffffff;
$black: #000000;

$accent-900: #ff6838;
$accent-800: #ff7a50;
$accent-750: #ffae94;
$accent-700: #fff2ed;
$accent-600: #faeded;

$secondary-950: #505050;
$secondary-900: #c2c2c2;
$secondary-850: #c1c1c1;
$secondary-800: #ececec;
$secondary-700: #f9faff;

$features-1: #00aaff;
$features-2: #ff2222;

$btn-accent: #63a60e;

// BREAKPOINTS
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;