.features {

  .container {
    max-width: 1060px;
    display: flex;
    justify-content: flex-end;
    @include background-image(contain, 0 50%);
    background-origin: content-box;

    @include wmax($sm) {
      justify-content: flex-start;
    }
  }

  &__content {
    max-width: 470px;
    padding: 58px 0;

    @include wmax($lg) {
      padding: 25px 0;
    }
  }

  .title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.5;

    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__list {
    margin-bottom: 30px;

    @include wmax($lg, l) {
      margin-bottom: 20px;
    }

    @include wmax($sm) {
      margin-bottom: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 24px;
    line-height: 1.5;
    color: $auxillary;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include wmax($lg, l) {
        margin-bottom: 15px;
        column-gap: 10px;
      }

      @include wmax($sm) {
        margin-bottom: 15px;
        column-gap: 10px;
      }
    }

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      @include mask-image(contain);
    }

    @include wmax($lg, l) {
      font-size: 18px;
    }

    @include wmax($sm) {
      font-size: 18px;
    }

    &--timer {
      &::before {
        mask-image: url("../images/sprite.svg#timer");
        background-color: $accent-900;
      }
    }

    &--delivery {
      &::before {
        mask-image: url("../images/sprite.svg#delivery");
        background-color: $features-1;
      }
    }

    &--restaurant {
      &::before {
        mask-image: url("../images/sprite.svg#restaurant");
        background-color: $features-2;
      }
    }
  }
}