.hero {
  height: 100vh;
  padding-top: 158px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    background-size: contain;
    background-origin: content-box;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 450px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 66px;
    font-weight: 500;
    text-transform: uppercase;
    color: $accent-900;
  }

  &__title-decor {
    color: $auxillary;
  }

  &__text {
    margin-bottom: 20px;

    p {
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 34px;
  }
}