.hero {

  .container {
    min-height: calc(100vh - 158px);
    display: flex;
    align-items: center;
    background-size: contain;
    background-origin: content-box;
    background-position: 100% 50%;
    background-repeat: no-repeat;

    @include wmax($lg) {
      min-height: calc(100vh - 114px);
    }

    @include wmax($md) {
      min-height: calc(100vh - 92px);
    }

    @include wmax($sm) {
      min-height: calc(100vh - 72px);
    }

    @include wmax($lg, l) {
      min-height: calc(100vh - 58px);
    }

    @include hmin(720) {
      min-height: 660px;

      @include wmax($sm) {
        min-height: 450px;
      }
    }
  }

  &__content {
    max-width: 450px;

    @include wmax($sm) {
      max-width: 345px;
    }

    @include wmax($lg, l) {
      max-width: 345px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 66px;
    font-weight: 500;
    text-transform: uppercase;
    color: $accent-900;

    @include wmax($sm) {
      max-width: 260px;
      font-size: 40px;
    }

    @include wmax($lg, l) {
      max-width: 260px;
      font-size: 40px;
    }
  }

  &__title-decor {
    color: $auxillary;
  }

  &__text {
    margin-bottom: 20px;

    p {
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 34px;

    @include wmax($sm) {
      column-gap: 30px;
    }

    @include wmax($lg, l) {
      column-gap: 30px;
    }
  }
}