.popular {
  text-align: center;

  .filter {
    margin-bottom: 45px;

    @include wmax($xl) {
      margin-bottom: 20px;
    }
  }

  .title {
    margin-bottom: 60px;

    @include wmax($xl) {
      margin-bottom: 40px;
    }

    @include wmax($lg) {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 212px);
    gap: 27px;
    justify-content: center;

    @include wmax($xl) {
      margin-bottom: 40px;
    }

    @include wmax($lg) {
      margin-bottom: 30px;
    }

    @include wmax($lg, l) {
      gap: 3px;
    }

    @include wmax($sm) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3px;
    }
  }
}