.popular {
  text-align: center;

  .filter {
    margin-bottom: 45px;

    @media (max-width: $xl) {
      margin-bottom: 20px;
    }
  }

  .title {
    margin-bottom: 60px;

    @media (max-width: $xl) {
      margin-bottom: 40px;
    }

    @media (max-width: $lg) {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 212px);
    gap: 27px;
    justify-content: center;

    @media (max-width: $xl) {
      margin-bottom: 40px;
    }

    @media (max-width: $lg) {
      margin-bottom: 30px;
    }

    @media (max-width: $lg) and (orientation: landscape) {
      gap: 3px;
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3px;
    }
  }
}