.popular {
  text-align: center;

  .filter {
    margin-bottom: 45px;

    @include wmax($xl) {
      margin-bottom: 20px;
    }
  }

  .title {
    margin-bottom: 60px;

    @include wmax($xl) {
      margin-bottom: 40px;
    }

    @include wmax($lg) {
      margin-bottom: 30px;
    }
  }

  .grid-products {
    margin-bottom: 60px;

    @include wmax($xl) {
      margin-bottom: 40px;
    }

    @include wmax($lg) {
      margin-bottom: 30px;
    }
  }
}