.reviews {
  text-align: center;

  .container {
    max-width: 1020px;
  }

  .reviews-swiper {
    overflow: hidden;

    @media (max-width: $lg) and (orientation: landscape) {
      position: relative;
      z-index: 1;
    }

    @media (max-width: $sm) {
      position: relative;
      z-index: 1;
    }
  }

  .swiper-wrapper {
    margin-bottom: 43px;

    @media (max-width: $lg) {
      margin-bottom: 30px;
    }

    @media (max-width: $lg) and (orientation: landscape) {
      margin-bottom: 0;
    }

    @media (max-width: $sm) {
      margin-bottom: 0;
    }
  }

  .swiper-controls {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;

    @media (max-width: $lg) and (orientation: landscape) {
      padding: 0;
    }

    @media (max-width: $sm) {
      padding: 0;
    }
  }

  .pagination {

    @media (max-width: $lg) and (orientation: landscape) {
      display: none;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondary-700;
    box-shadow: 0 0 0 3px currentColor;
    outline: 2px solid transparent;
    outline-offset: 3px;
    color: $secondary-900;
    transition: outline-color 0.3s, background-color, color 0.3s, box-shadow 0.3s;

    &::before {
      content: "";
      width: 19px;
      height: 19px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }

    &:focus {
      outline-color: rgba($accent-900, 0.7);
    }

    &:hover {
      background-color: $accent-700;
      color: $accent-750;
    }

    &:active {
      background-color: $accent-700;
      box-shadow: 0 0 0 3px $accent-700;
      color: $accent-800;
    }

    @media (max-width: $lg) and (orientation: landscape) {
      position: absolute;
      z-index: 3;
      top: 33px;
    }

    @media (max-width: $sm) {
      position: absolute;
      z-index: 3;
      top: 33px;
    }
  }

  .swiper-button-prev {

    &::before {
      mask-image: url("../images/sprite.svg#left");
    }

    @media (max-width: $lg) and (orientation: landscape) {
      right: calc(50% + 100px);
    }

    @media (max-width: $sm) {
      right: calc(50% + 100px);
    }
  }

  .swiper-button-next {

    &::before {
      mask-image: url("../images/sprite.svg#right");
    }

    @media (max-width: $lg) and (orientation: landscape) {
      left: calc(50% + 100px);
    }

    @media (max-width: $sm) {
      left: calc(50% + 100px);
    }
  }
}