.breadcrumbs {
  padding: 24px 0;
  margin-bottom: 60px;
  background-color: rgba($accent-800, 0.1);

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      padding-right: 5px;
      align-items: center;
      column-gap: 6px;

      &::after {
        content: "";
        width: 6px;
        height: 10px;
        mask-image: url("../images/sprite.svg#chevron-right");
        @include mask-image(contain);
        background-color: $secondary-850;
      }
    }

    &--adaptive {
      @include wmax($sm) {
        display: none;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $secondary-950;
    border-radius: 5px;
    transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    @include hover {
      color: $accent-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($main, 0.5);
    }
  }

  @include wmax($lg) {
    margin-bottom: 40px;
  }

  &--product {
    @include wmax($lg) {
      margin-bottom: 30px;
    }
  }
}