.burger {
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: $auxillary;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: currentColor;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 12px;
  }

  &__line {
    width: 30px;
    height: 2px;
    background-color: currentColor;
  }

  &:focus {
    background-color: rgba($accent-800, 0.1);
    box-shadow: 0 0 0 2px rgba($accent-800, 0.7);
  }

  &:active {
    background-color: $accent-700;
  }

  &--close {
    width: 40px;
    height: 40px;


    &::before,
    &::after {
      top: 50%;
      width: 25px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}