.link {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: $main;
  border-radius: 5px;
  transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
  }

  @include hover {
    color: $accent-900;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba($main, 0.5);
  }

  &.current {
    color: $accent-900;
  }
}

.showmore-link {
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.5;
  color: $auxillary;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: box-shadow 0.3s, text-decoration-color 0.3s, color 0.3s, text-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    text-decoration-color: transparent;
  }

  @include hover {
    color: $accent-900;
    text-decoration-color: transparent;
  }

  &:active {
    color: $auxillary;
    text-decoration-color: transparent;
    text-shadow: 2px 2px 5px rgba($auxillary, 0.5);
  }

  @include wmax($sm) {
    font-size: 16px;
  }

  @include wmax($lg, l) {
    font-size: 16px;
  }
}

.primary-btn {
  display: inline-block;
  padding: 7px 16px;
  border-radius: 6px;
  background-color: $accent-900;
  font-size: 14px;
  color: $white;
  outline: 2px solid transparent;
  transition: background-color 0.3s, outline-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:focus {
    background-color: rgba($accent-800, 0.1);
    outline-color: rgba($accent-900, 0.7);
    color: $accent-900;
  }

  @include hover {
    background-color: rgba($white, 0.1);
    outline-color: rgba($accent-900, 0.7);
    color: $accent-900;
  }

  &:active {
    background-color: rgba($accent-800, 0.1);
    box-shadow: none;
    color: $accent-900;
  }

  &--big {
    padding: 12px 32px;
    font-size: 18px;
    letter-spacing: 0.03em;

    @include hover {
      box-shadow: 0 5px 12px rgba($accent-900, 0.2);
    }

    @include wmax($sm) {
      padding: 8px 24px;
      font-size: 14px;
    }

    @include wmax($lg, l) {
      padding: 8px 24px;
      font-size: 14px;
    }
  }

  &--icon {
    width: 79px;
    padding: 10px 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    &::before {
      content: "";
      width: 14px;
      height: 12px;
      mask-image: url("../images/sprite.svg#arrow-right");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out;
    }

    @include hover {
      &::before {
        transform: translateX(20px);
      }
    }
  }
}