.contacts {

  &__list {
    margin-bottom: 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__location,
  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 2;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 7px;
      flex-shrink: 0;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }
  }

  &__location {
    &::before {
      mask-image: url("../images/sprite.svg#location");
    }
  }

  &__link {
    border-radius: 5px;
    transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    &:hover {
      color: $accent-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($main, 0.5);
    }

    &--tel {
      &::before {
        mask-image: url("../images/sprite.svg#tel");
      }
    }

    &--email {
      &::before {
        mask-image: url("../images/sprite.svg#email");
      }
    }
  }
}

.social {
  display: flex;
  column-gap: 13px;

  &__link {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondary-800;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    &::before {
      content: "";
      width: 21px;
      height: 21px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }

    &:focus {
      background-color: $accent-700;
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    &:hover {
      background-color: $accent-800;
      color: $white;
    }

    &:active {
      background-color: $accent-700;
      color: $accent-800;
    }

    &--facebook {
      &::before {
        mask-image: url("../images/sprite.svg#facebook");
      }
    }

    &--twitter {
      &::before {
        mask-image: url("../images/sprite.svg#twitter");
      }
    }

    &--instagram {
      &::before {
        mask-image: url("../images/sprite.svg#instagram");
      }
    }
  }
}