.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 212px);
  justify-content: center;

  &--popular {
    gap: 27px;
  }

  &--catalog {
    gap: 7px;
  }

  @include wmax($lg, l) {
    gap: 3px;
  }

  @include wmax($sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
  }
}