.logo {
  display: block;
  border-radius: 5px;
  transition: box-shadow 0.3s, opacity 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent900, 0.7);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}