.review {
  display: flex;
  align-items: center;
  text-align: left;
  box-sizing: border-box;

  &__img {
    margin-right: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    @include wmax($lg) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include wmax($lg, l) {
      width: 100px;
      margin-bottom: 20px;
    }

    @include wmax($sm) {
      width: 100px;
      margin-bottom: 20px;
    }
  }

  &__box {
    max-width: 650px;
    width: 100%;
    padding: 0 40px;
  }

  &__text {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 20px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $secondary-900;
    }

    &::before {
      top: 0;
      left: -40px;
      mask-image: url("../images/sprite.svg#quote-open");
    }

    &::after {
      bottom: 0;
      right: -40px;
      mask-image: url("../images/sprite.svg#quote-close");
    }

    p {
      font-style: italic;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @include wmax($lg) {
      margin-bottom: 20px;
    }

    @include wmax($lg, l) {
      font-size: 14px;
    }

    @include wmax($sm) {
      font-size: 14px;
    }
  }

  &__user-info {
    font-size: 14px;
  }

  &__username {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: $accent-900;

    @include wmax($lg, l) {
      margin-bottom: 10px;
      font-size: 16px;
    }

    @include wmax($sm) {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  @include wmax($lg) {
    flex-direction: column;
  }
}