.review {

  &__top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 40px;

    @include wmax($lg, l) {
      margin-bottom: 15px;
    }

    @include wmax($sm) {
      margin-bottom: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__cite {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }

  &__userpic {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }

  &__username {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  &__date {
    font-size: 18px;
    letter-spacing: 0.03em;
  }

  &__text {
    line-height: 1.5;

    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}