.review {
  display: flex;
  align-items: center;
  text-align: left;

  &__img {
    margin-right: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__box {
    max-width: 650px;
    width: 100%;
    padding: 0 40px;
  }

  &__text {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::before {
      top: 0;
      left: -40px;
      background-image: url("../images/icons/open-quote.svg");
    }

    &::after {
      bottom: 0;
      right: -40px;
      background-image: url("../images/icons/close-quote.svg");
    }

    p {
      font-style: italic;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__user-info {
    display: block;
    font-size: 14px;
  }

  &__username {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: $accent-900;
  }
}