.subscribe-email {
  max-width: 200px;
  width: 100%;

  .logo {
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 12px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 12px 14px;
    border: 1px solid $secondary-900;
    border-radius: 5px;
    background-color: $white;
    font-size: 14px;
    outline: 2px solid transparent;
    outline-offset: -1px;
    transition: outline-color 0.3s;

    &::placeholder {
      color: $secondary-900;
      transition: color 0.3s;
    }

    &:focus {
      outline-color: $accent-900;
    }

    @include hover {
      &::placeholder {
        color: $auxillary;
      }
    }
  }

  .auxillary-btn {
    width: 100%;
  }
}