.user-nav {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: $auxillary;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    &::before {
      content: "";
      width: 19px;
      height: 19px;
      @include mask-image(contain);
      background-color: currentColor;
    }

    &:focus {
      background-color: rgba($accent-800, 0.1);
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    @include hover {
      background-color: $accent-800;
      color: $white;
    }

    &:active {
      background-color: $accent-700;
      color: $auxillary;
    }

    &--search {
      &::before {
        mask-image: url("../images/sprite.svg#search");
      }
    }

    &--cart {
      position: relative;

      &::before {
        mask-image: url("../images/sprite.svg#cart");
      }

      @include hover {
        .user-nav__btn-counter {
          background-color: $white;
          color: $accent-800;
        }
      }

      &:active {
        .user-nav__btn-counter {
          background-color: $accent-900;
          color: $white;
        }
      }
    }
  }

  &__btn-counter {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    color: $white;
    background-color: $accent-900;
    transition: background-color 0.3s, color 0.3s;
  }

  @include wmax($md) {
    flex-grow: 1;
    margin-right: 10px;
    justify-content: flex-end;
  }
}