.user-nav {
  display: flex;
  align-items: center;

  &__btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: $auxillary;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    &::before {
      content: "";
      width: 19px;
      height: 19px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: red;
    }

    &:focus {
      background-color: rgba($accent-800, 0.1);
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    &:hover {
      background-color: $accent-800;
      color: $white;

      .user-nav__btn-counter {
        background-color: $white;
        color: $accent-800;
      }
    }

    &:active {
      background-color: $accent-700;
      color: $auxillary;

      .user-nav__btn-counter {
        background-color: $accent-900;
        color: $white;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--search {
      &::before {
        mask-image: url("../images/icons.svg#search");

      }

      // background-image: url("../images/icons.svg#search");
    }

    &--cart {
      position: relative;
    }
  }

  &__btn-counter {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    color: $white;
    background-color: $accent-900;
    transition: background-color 0.3s, color 0.3s;
  }

  &__icon {
    stroke: currentColor;
  }

  @media (max-width: $md) {
    flex-grow: 1;
    margin-right: 10px;
    justify-content: flex-end;
  }
}