<address class="contacts">

  <ul class="contacts__list">
    <li class="contacts__item">
      <p class="contacts__location">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./images/icons.svg#location"></use>
        </svg>
        ул. Т.Г.Шевченко, 1
      </p>
    </li>

    <li class="contacts__item">
      <a class="contacts__link" href="tel:+380501112233">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./images/icons.svg#tel"></use>
        </svg>
        380501112233
      </a>
    </li>

    <li class="contacts__item">
      <a class="contacts__link" href="mailto:support@sfood.com">
        <svg class="contacts__icon" width="24" height="24">
          <use href="./images/icons.svg#email"></use>
        </svg>
        support@sfood.com
      </a>
    </li>
  </ul>

  <ul class="contacts__social-list">
    <li class="contacts__social-item">
      <a class="contacts__social-link" href="#" target="_blank">
        <span class="sr-only">
          Фейсбук
        </span>
        <svg class="contacts__social-icon" width="21" height="21">
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>

    <li class="contacts__social-item">
      <a class="contacts__social-link" href="#" target="_blank">
        <span class="sr-only">
          Твиттер
        </span>
        <svg class="contacts__social-icon" width="21" height="21">
          <use href="./images/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>

    <li class="contacts__social-item">
      <a class="contacts__social-link" href="#" target="_blank">
        <span class="sr-only">
          Инстаграм
        </span>
        <svg class="contacts__social-icon" width="21" height="21">
          <use href="./images/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>

  </ul>
</address>