.catalog {

  &__top {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    @include wmax($lg) {
      margin-bottom: 40px;
    }

    @include wmax($md) {
      margin-bottom: 30px;
      flex-direction: column;
      row-gap: 20px;
    }

    @include wmax($lg, l) {
      margin-bottom: 30px;
    }
  }

  .title {
    margin-bottom: 0;
  }

  &__controls {
    display: flex;
    column-gap: 15px;

    @include wmax($lg) {
      column-gap: 10px;
    }
  }

  &__btn-sidebar {
    display: none;
    width: 47px;
    height: 47px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: $accent-600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.3s, background-color 0.3s;

    &::before {
      content: "";
      width: 32px;
      height: 36px;
      mask-image: url("../images/sprite.svg#filter");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $accent-900;
    }

    &:focus {
      outline-color: $accent-900;
    }

    &:active {
      background-color: $white;
    }

    @include wmax($lg) {
      display: flex;
    }
  }

  &__form {
    display: flex;
    column-gap: 15px;

    @include wmax($lg) {
      column-gap: 10px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: start;
    column-gap: 30px;

    @include wmax($lg) {
      grid-template-columns: 1fr;
    }
  }

  .grid-products {
    margin-bottom: 60px;

    @include wmax($lg) {
      margin-bottom: 40px;
    }

    @include wmax($md) {
      margin-bottom: 30px;
    }

    @include wmax($lg, l) {
      margin-bottom: 30px;
    }
  }
}