.discounts {

  .title {
    margin-bottom: 60px;

    @include wmax($xl) {
      margin-bottom: 45px;
    }

    @include wmax($lg) {
      margin-bottom: 30px;
    }
  }

  @include wmax($xl) {
    text-align: center;
  }
}