.app {

  .container {
    background-size: contain;
    background-position: 100% 50%;
    background-origin: content-box;
    background-repeat: no-repeat;

    @include wmax($lg) {
      background-image: unset !important;
    }
  }

  &__content {
    max-width: 540px;
    width: 100%;
    padding: 40px 0;

    @include wmax($lg) {
      padding: 0;
      margin: 0 auto;
    }
  }

  .title {
    @include wmax($lg) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;

    p {
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @include wmax($lg) {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 30px;
  }

  &__link {
    display: block;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-900, 0.7);
    }

    @include hover {
      transform: translateY(3px);
    }

    &:active {
      opacity: 0.7;
    }

    &--appstore {
      width: 120px;
      border-radius: 7px;
      background-image: url("../images/mobile-app/appstore.svg");
    }

    &--googleplay {
      width: 135px;
      border-radius: 5px;
      background-image: url("../images/mobile-app/googleplay.svg");
    }
  }
}