.footer {

  .container {
    margin-bottom: 60px;
    display: flex;
    column-gap: 70px;

    @include wmax($xl) {
      justify-content: space-around;
    }

    @include wmax($lg) {
      margin-bottom: 45px;
      flex-wrap: wrap;
      row-gap: 40px;
    }

    @include wmax($sm) {
      margin-bottom: 30px;
      flex-direction: column;
      row-gap: 30px;
    }

    @include wmax($lg, l) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px 70px;
    align-content: start;
    align-items: center;

    .link {
      display: block;
    }

    @include wmax($xl) {
      grid-template-columns: repeat(2, auto);
    }

    @include wmax($lg) {
      order: 1;
      grid-template-columns: repeat(3, auto);
      column-gap: 59px;
    }

    @include wmax($sm) {
      grid-template-columns: 1fr;
    }
  }

  &__copy {
    padding: 30px 0;
    border-top: 1px solid $secondary-900;
    font-size: 14px;
    text-align: center;
    background-color: $white;

    @include wmax($xl) {
      padding: 20px 0;
    }
  }
}