.footer {

  .container {
    margin-bottom: 60px;
    display: flex;
    column-gap: 70px;
  }

  &__list {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px 70px;
  }

  &__copy {
    padding: 30px 0;
    border-top: 1px solid $secondary-900;
    font-size: 14px;
    text-align: center;
  }
}