.header {
  padding: 57px 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s, padding-top 0.3s, padding-bottom 0.3s;

  &.fixed {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba($secondary800, 0.7);
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-right: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
}