<header class="header" id="header">
  <div class="container">

    @@include("../components/_logo.html", {modifier: "logo--header"})

    <nav class="nav nav--desktop">
      <ul class="nav__list">
        <li>
          <a href="/" class="link @@if (currentPage === 'home') {current}">
            Главная
          </a>
        </li>

        <li>
          <a href="./catalog.html" class="link @@if (currentPage === 'catalog') {current}">
            Блюда
          </a>
        </li>

        <li>
          <a href="#" class="link">
            Контакты
          </a>
        </li>
      </ul>
    </nav>

    <div class="user-nav">
      <button class="user-nav__btn user-nav__btn--search" type="button">
        <span class="sr-only">
          Поиск по сайту
        </span>
      </button>

      <button class="user-nav__btn user-nav__btn--cart" type="button">
        <span class="sr-only">
          Корзина товаров. Цифра показывает количество товаров в корзине
        </span>
        <span class="user-nav__btn-counter">
          4
        </span>
      </button>
    </div>

    <button class="burger" type="button" id="burgerOpen">
      <span class="sr-only">
        Показать мобильное меню
      </span>
      <span class="burger__line"></span>
    </button>

  </div>

  <div class="mobile-menu" id="mobileMenu">

    <div class="mobile-menu__box">
      @@include("../components/_logo.html", {modifier: ""})

      <button class="burger burger--close" type="button" id="burgerClose">
        <span class="sr-only">
          Скрыть мобильное меню
        </span>
      </button>
    </div>

    <div class="mobile-menu__box">
      <nav class="nav nav--mobile">
        <ul class="nav__list nav__list--mobile">
          <li>
            <a href="/" class="link @@if (currentPage === 'home') {current}">
              Главная
            </a>
          </li>
          <li>
            <a href="./catalog.html" class="link @@if (currentPage === 'catalog') {current}">
              Блюда
            </a>
          </li>
          <li>
            <a href="#" class="link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mobile-menu__box">
      @@include("../components/_contacts.html", {modifier: "contacts--header"})
    </div>

  </div>
</header>